.container {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  text-align: center;
  background-color: #fcfcfa;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.contacts {
  margin-top: 15px;
}
